
/* Mixin for settings different styles for different breakpoints */

@mixin sm {
    @media screen and (min-width: $breakpoint--sm){
        @content;
    }
}

@mixin md {
    @media screen and (min-width: $breakpoint--md) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: $breakpoint--lg) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: $breakpoint--xl) {
        @content;
    }
}