/* Coolors Exported Palette - coolors.co/141114-7690a0-89e3ed-76bab8-f2f2f2 */

/* HSL */
$color1: hsla(300%, 8%, 7%, 1);
$color2: hsla(203%, 18%, 55%, 1);
$color3: hsla(186%, 74%, 73%, 1);
$color4: hsla(178%, 33%, 60%, 1);
$color5: hsla(0%, 0%, 95%, 1);

/* RGB */
$color1: rgba(20, 17, 20, 1);
$color2: rgba(118, 144, 160, 1);
$color3: rgba(137, 227, 237, 1);
$color4: rgba(118, 186, 184, 1);
$color5: rgba(242, 242, 242, 1);