@import '../../styles/00-settings/breakpoints';
@import '../../styles/01-tools/mixins';

.navbar {

}

.o-navbar {
    position: fixed;
    width: 100%;
    
    @include lg {
        position: static;
    }
}

.o-navbar__menu {
    box-shadow:none !important;
}