@import '../../styles/00-settings/breakpoints';
@import '../../styles/01-tools/mixins';

.o-partners {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include md {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.o-partners__partner {
    flex: 1 1 33.3333333333%;
    padding: 2em;
}