
/* Primary color */
// Brand

$brand-green:		rgba(118, 186, 184, 1);
$brand-blue:		rgba(137, 227, 237, 1);
$brand-dark-blue:	rgba(118, 144, 160, 1);

/* Secondary color */
// Grey
$grey--100:     	#2f2f2f;
$grey--200:     	#333;
$grey--300:     	#555;
$grey--400:     	#686868;
$grey--600:     	#7c7c7c;
$grey--700:     	#8c8c8c;
$grey--900:			#f2f2f2;

$color-dark:		#000;
$color-light:		#fff;

$sidebar--bg:		$brand-green;
$sidebar--text:		$grey--100;