@import '../../styles/all';

.o-sidebar {
    background: rgba($sidebar--bg, .25);
    color: $sidebar--text;
    padding: 1rem;
}

.o-sidebar__label {
    cursor: pointer;

    @include lg {
        cursor: default;
    }
}

.o-sidebar__title {
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
}

.o-sidebar__icon {
    position: absolute;
    top: .3rem;
    left: 4rem;
    transform: rotate(0);
    transition: transform .1s ease-in-out;

    @include lg {
        opacity: 0;
    }

}

.o-sidebar__input {
    display: none;

    &:checked {
        & ~ .o-sidebar__label .o-sidebar__title .o-sidebar__icon {
            transform: rotate(90deg);
        }

        & ~ .o-sidebar__divider {
            background: black;
        }

        & ~ .o-sidebar__list{
            display: block;
        }
    }
}

.o-sidebar__list {
    display: none;

    @include lg {
        display: block;
    }
}