@import '../../styles/00-settings/breakpoints';
@import '../../styles/01-tools/mixins';

.o-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.o-avatar__image {
    border-radius: 1000px;
}

.o-avatar__header {
    margin: 1em 0;
    font-weight: 600;
}

.o-avatar__description {
    text-align: center;

    @include lg {
        text-align: left
    }
}